/*
general
*/

body {
	padding-bottom: 50px;
	padding-top: 60px;
}

.selected {
	color : red;
}

ul
{
    list-style-type: none;
    padding: 0 10px;
}

li {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
}

.page-header {
	margin-top: 0px;
}

.reviewBtn:focus, .reviewBtn:active {
	outline:none;
  	background-color: white;
}


/*
header
*/

#header {
	height: 50px;
	background-color: #2b4a6f;/* #3b4058 ; /*#3CA2A2; /* #195467 */
}

#logo-header {
	width: 350px;
	margin-top: 10px;
}

#logo-header img{
  display: block;
  margin: auto;
  height: 30px;
  width: auto;
}

/*
#loginTemplate
*/

#loginTemplate input {
	  margin-bottom: 10px;
}

#loginTemplate .loginBtn {
	margin-bottom: 10px;
}

#loginTemplate {
 	  width: 350px;
}

/*
#userTemplate
*/

#userTemplate a {
	color: black;
}

#userTemplate #userDetails .userName  {
	margin-top: 5px;
}
#userTemplate #userDetails button.follow {
   pointer-events: none;
 }
 
/*
#searchTemplate
*/

#searchTemplate #categoryGroup .categoryBtn{
	text-align: center;
	border-right: 1px solid #eee;
	font-weight: bold;
}

#searchTemplate #searchDiv {
	margin-bottom: 10px;
}

#searchTemplate #categoryGroup .categoryBtn:last-child{
	border-right: none;
}
