<h1>{{item.itemDetails.title}}</h1>
<img ng-src="images/items/{{item.itemDetails.item_id}}.jpg"/>
<p>my rank: 
<select ng-change="addRank()" ng-model="myRank">
<option value="0">rank the item</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
   <option value="5">5</option>
</select></p>
<p>User rank: {{userRank.rank}}</p>
<button ng-click="addReview()">{{reviewButton}}</button>
<div ng-show="showReview">
<p>{{message}}</p>
<textarea maxlength="499" ng-model="reviewText"></textarea>
<button ng-click="sendReview()">send review</button>
</div>
<div ng-hide="hideItem">
<p ng-click="followingRanks = !followingRanks">Friend's rank: {{item.itemRanks.followingAvg}}</p>
<ul ng-show="followingRanks">
		<li ng-repeat="rank in ranksArr"><p>{{rank.username}} -</p> <img
			ng-src="images/users/{{rank.username}}.jpg" />
			<p>rank: {{rank.rank}}</p>
			<p ng-if="rank.review_id">
				<button ng-click="getReview($index ,rank.review_id)">read
					review</button>
			</p>
			<div ng-if="rank.review_id" id="review-{{rank.review_id}}" ng-show="review{{rank.review_id}}" >
			{{rank.reviewText}}</div>
		</li>
	</ul>
<p>Total rank: {{item.itemRanks.totalAvg}}</p>
<button ng-click="showDescription()">description</button>
<p ng-show="description">{{item.itemDetails.description}}</p>
</div>
