<h1>Signup</h1>
<p>{{message}}</p>
<label for="username">username:</label>
<input type="text" id="username" ng-model="username">
<br>
<label for="password">password:</label>
<input type="text" id="password" ng-model="password">
<br>
<label for="firstName">first name:</label>
<input type="text" id="firstName" ng-model="firstName">
<br>
<label for="lastName">last name:</label>
<input type="text" id="lastName" ng-model="lastName">
<br>
<label for="email">email:</label>
<input type="text" id="email" ng-model="email">
<br>
<button ng-click="signup()">signup</button>
<p><a href="#/login">login</a></p>