<div>
	<img ng-src="images/users/{{user.username}}.jpg" />
	<div>{{user.username}}</div>
	<a href="#/followers/{{user.user_id}}"><p>Followers: {{userDetails.userFollowersCount}}</p></a>
	<a href="#/following/{{user.user_id}}"><p>Following: {{userDetails.userFollowingCount}}</p></a>
	<p ng-show="showEdit">edit my profile</p>
	<button id="follow" ng-show="showFollow" ng-class="class" ng-click="startFollowing(user.user_id)">{{followingLabel}}</button>
	<ul>
		<li ng-repeat="rank in ranksArr"><p>{{rank.name}} -</p> <img
			ng-src="images/items/{{rank.item_id}}.jpg" />
			<p>rank: {{rank.rank}}</p>
			<p ng-if="rank.review_id">
				<button ng-click="getReview($index ,rank.review_id)">read
					review</button>
			</p>
			<div ng-if="rank.review_id" id="review-{{rank.review_id}}" ng-show="review{{rank.review_id}}" >
			{{rank.reviewText}}</div>
		</li>
	</ul>
	<button ng-click="logout()">logout</button>
	
</div>
